

image:
  pullPolicy: IfNotPresent

client:
  image:
    repository: mokchhedul/ecom-client
    tag: latest
  replicas: 2
  type: ClusterIP
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"


config:
  NODE_ENV: production

hpa:
  enabled: true
  min: 2
  max: 5
  cpu: 70

