image:
  pullPolicy: IfNotPresent

client:
  image:
    repository: mokchhedul/ecom-client
    tag: 451523f98f219ea63c2676f5aee1914c80b32b15
  replicas: 2

  service:
    type: ClusterIP
    port: 80

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"

config:
  NODE_ENV: production

hpa:
  enabled: true
  min: 2
  max: 5
  cpu: 70
