client:
  image:
    repository: mokchhedul/ecom-client
    tag: latest
  replicas: 2

  service:
    type: LoadBalancer
    port: 80

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "256Mi"

config:
  NODE_ENV: production
  VITE_API_URL: "http://ecom-server.default.svc.cluster.local:5000/api"

hpa:
  enabled: true
  min: 2
  max: 5
  cpu: 70
